{%- style -%}
  #collection_list_main-{{ section.id }} {
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
    background: {{ section.settings.bg_color }};
  }
  #collection_list_main-{{ section.id }} h3,
  #collection_list_main-{{ section.id }} h2 {
    color: {{ section.settings.font_color }};
  }
  .collection_list_main {
    width: 100%;
    height: auto;
  }
  .collection_list_main .container {
    padding: 0 40px;
  }
  .collection_list_main .list_inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2rem;
  }
  .collection_list_main h2 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
  }
  .collection_list_main .list_inner h2 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
  }
{%- endstyle -%}
<section class="collection_list_main" id="collection_list_main-{{ section.id }}">
  <div class="container">
    {% if section.settings.headline != blank %}
      <h2>{{ section.settings.headline }}</h2>
    {% endif %}
    <div class="list_inner">
      {% for block in section.blocks %}
    {% assign col = block.settings.collection %}
    {% if col != blank %}
      <a class="marquee_col" href="{{ col.url }}">
        {% if col.featured_image %}
            {{ col.featured_image | image_url:width:col.featured_image.width | image_tag:loading:'lazy'}}
        {% endif %}
        <h2>{{ col.title }}</h2>
      </a>
    {% endif %}
  {% endfor %}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Collection List",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "label": "Headline",
        "default": "SHOP BY COLLECTION"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "BG Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "font_color",
        "label": "Font Color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 10
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 10
      },
    ],
    "blocks": [
      {
        "name":"Collection",
        "type":"collection_list",
        "settings":[
          {
        "type": "collection",
        "id": "collection",
        "label": "Select Collection"
      }
        ]
      }
    ],
    "presets":[
      {
        "name":"Collection List",
        "blocks": [
          {
            "type": "collection_list"
          },
          {
            "type": "collection_list"
          },
          {
            "type": "collection_list"
          },
          {
            "type": "collection_list"
          }
        ]
      }
    ]
  }
{% endschema %}