{%- style -%}
  #marquee_main-{{ section.id }} {
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
    background: {{ section.settings.bg_color }};
  }
  #marquee_main-{{ section.id }} span {
    color: {{ section.settings.font_color }};
  }
  .marquee_main {
    width: 100%;
    height: auto;
  }
  .marquee_main .marquee_inner {
    margin: 0 auto;
    max-width: 500px;
  }
  .marquee_main .slick-prev, 
  .marquee_main .slick-next {
    width: 25px;
    height: 25px;
    background: transparent;
    margin: 0;
    z-index: 9;
    padding: 0;
    border-radius: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .marquee_main .slick-prev:before {
    content: '';
    border: 2px solid #142122;
    width: 10px;
    height: 10px;
    z-index: 9;
    position: relative;
    background: transparent;
    border-right-width: 0 !important;
    border-bottom-width: 0 !important;
    rotate: 315deg;
    margin-left: 3px;
  }
  .marquee_main .slick-next:before {
    content: '';
    border: 2px solid #142122;
    width: 10px;
    height: 10px;
    z-index: 9;
    position: relative;
    background: transparent;
    border-left-width: 0 !important;
    border-top-width: 0 !important;
    rotate: 315deg;
    margin-right: 3px;
  }
  .marquee_main .slick-prev {
    left: 20px;
  }
  .marquee_main .slick-next {
    right: 20px;
  }
{%- endstyle -%}
<section class="marquee_main" id="marquee_main-{{ section.id }}">
  <div class="container">
    <div class="marquee_inner">
      {% for block in section.blocks %}
        {% if block.settings.text != blank %}
          <span class="marquee_col">{{ block.settings.text }}</span>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    $('#marquee_main-{{ section.id }} .marquee_inner').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: false,
      autoplay: false,
      autoplaySpeed: 2000,
      arrows: true,
      fade: true,
      infinite: true
    });
  });
</script>
{% schema %}
  {
    "name": "Marquee",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "BG Color",
        "default": "#C9A96E"
      },
      {
        "type": "color",
        "id": "font_color",
        "label": "Font Color",
        "default": "#ffffff"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 10
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 10
      },
    ],
    "blocks": [
      {
        "name":"Add Text",
        "type":"add_text",
        "settings":[
          {
            "type": "text",
            "id": "text",
            "label": "Add Text",
            "default": "New Season Arrivals"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Marquee",
        "blocks": [
          {
            "type": "add_text"
          },
          {
            "type": "add_text"
          },
          {
            "type": "add_text"
          },
          {
            "type": "add_text"
          }
        ]
      }
    ]
  }
{% endschema %}